<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Empty Page</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="assets/layout/buttons.css">
  <link rel="stylesheet" href="assets/layout/projectSetup/setupForm.css">
</head>
<body>

  <div class="boxTop">
    <div class="boxTopMenu" id="createButton" buttonType="1">
      <span class="menuText">New Project</span>
    </div>
  </div>

  <div id="projectSetupOverlay" class="overlay">
    <div class="project-setup-box">
        <span class="exit-button"></span>
      <h2 class="setupTopText">Project Setup</h2>
    </div>
    <div class="sub"></div>
    <span id="setupForm">
        <span id="formIcon"></span>
        <div class="formCreate" id="createButton" buttonType="1">
            <span class="menuText">Create</span>
        </div>
        <div class="formTemplates" id="createButton" buttonType="1">
            <span class="menuText">Use Templates</span>
        </div>
        <div class="projectForm">
            <form class="fName">
                <label for="projectName">Project Name<br></label>
                <input type="projName" id="projectName">
            </form>
            <form class="fAuthor">
                <label for="projectAuthor">Author<br></label>
                <input type="projAuthor" id="projectAuthor">
            </form>
            <form class="fLicense">
                <label for="projectLicense">License<br></label>
                <input type="projLicense" id="projectLicense">
            </form>
            <div class="fMinEngine">Bedrock 1.19.0+</div>
            <div class="fUi">Bamboo-UI</div>
            <span class="fImportDrag"></span>
            <span class="fImportChoose"></span>
        </div>
    </span>
  </div>

  <div id="noProjectText" class="centered-text"></div>

  <script src="assets/layout/buttons.js"></script>
  <script src="assets/layout/projectSetup/ui.js"></script>
</body>
</html>
